:root {}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.table {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 1px;
    background: #ccc;
    border: 1px solid #ccc;
}

.table>div {
    background: white;
    padding: 12px;
}

.table>.table-header {
    background: #e7e7e7
}

/* .update-modal {
    position: relative;
}

.update-modal button {
    position: absolute;
    inset: 5px 5px auto auto;
} */
