/* :root {} */

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    margin: 0;
}

header {
    align-self: stretch;
    margin-left: 1em;
}

main {
    flex: 1;
    min-width: 700px;
    padding: 1em;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0.7em;
    background-color: #ccc;
}

img {
    height: 50px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.actions > :nth-child(3) {
    margin-inline-start: auto;
}

.table {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;

    gap: 1px;
    background: #ccc;
    border: 1px solid #ccc;
}

.table>div {
    display: flex;
    align-items: center;

    height: 100%;
    gap: 0.5em;
    padding: 12px;

    background: white;
}

.table>.table-header {
    background: #e7e7e7
}

.pop-up-modal {
    position: fixed;
    bottom: 60px;
    margin: 0;
    margin-inline-start: auto;
    margin-right: 20px;
}